//-- Helpers --//
@mixin absolute-centering {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@mixin absolute-right-vertical ($right) {
    position: absolute;
    top: 0;
    right: $right;
    bottom: 0;
    margin: auto 0;
}

